

<div class="fab-pet-container">

    <div class="fab-pet shadow">
        <div class="fab-pet-content">
          <span >Pet</span>
      <!--    <span class="material-icons">support_agent</span>
      -->
        </div>
    </div>

    <div class="sub-button shadow">
      <a href="/Home/Index" mostratxt="Home" >
        <span class="material-icons">home</span>
      </a>
    </div>
    
    <div class="sub-button shadow">
      <a asp-controller="Sitegeral" asp-action="Banho" mostratxt="Banho">

         <span class="material-icons">bathtub</span>
         <!--
         <span class="material-icons">shower</span>
         -->
       </a>
    </div>
    
    <div class="sub-button shadow">
      <a asp-controller="Sitegeral" asp-action="Passear" mostratxt="Passeio">
           <span class="material-icons"> directions_car</span>
      </a>
    </div>
    
    <div class="sub-button shadow">
      <a asp-controller="Sitegeral" asp-action="Hotel"  mostratxt="Hotel">
         <span class="material-icons">local_hotel</span>
      </a>
    </div>
    
    <div class="sub-button shadow">
      <a asp-controller="Sitegeral" asp-action="Veterinario" mostratxt="Veterinario" >
         <span class="material-icons">cruelty_free</span>
      </a>
    </div>

</div>
