

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MeuCachorrinho</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <!-- css do sitepadrao -->
    <link rel="stylesheet" href="~/css/site-pet.css" />


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- colocar interno icones nao esta funcionando
    <link rel="stylesheet" href="~/css/site-icones.css" />
    -->

    
     <!-- imagens dos icones tag i -->
     <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


