
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http


<!--  *****  LAYOUT DAS PAGINA INICIAL ***** -->

<!DOCTYPE html>
<html lang="pt_br">

    <head>
        @{
                await Html.RenderPartialAsync("_HeadPadrao");
        }

       @{
            await Html.RenderPartialAsync("_FooterJava");
        }
  
    </head>

    <body >

        <header>

            <!-- carregar menu dE SERVICOS -->
            @{
                 await Html.RenderPartialAsync("_FerramentaFooter");
            }

            <!-- carregar banner rotativo das paginas -->
            @{

                await Html.RenderPartialAsync("BannerRotativo");
            }
            <!-- carregar menu da das paginas -->
            @{
                await Html.RenderPartialAsync("MenuPagina");
            }

        </header>

        <main role="main">
            @RenderBody()
        </main>
       

        <!-- ******** rodape ********* -->
         <footer class="container-fluid border-top text-muted p-0 m-0" >
           <br/>   
            @{
                await Html.RenderPartialAsync("BarraFooter");
            }
        </footer>


        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>
