


<div class="ferr-footer">
  <button class="main">
       Pet
  </button>

  <ul>
   
    <li>
      <label for="opcao1">Opção</label>
      <button id="opcao1">
       1
      </button>
    </li>
   
    <li>
      <label for="opcao2">Opção</label>
      <a  asp-controller="SitGeral "  action="Hotel">
        <button id="opcao2">
            2
        </button>
      </a>    
    </li>

    <li>
      <label for="opcao3">Home1</label>

            <button id="opcao3">
              <a href="/Home/Index">
                   H
              </a>
           </button>
        
    </li>

  </ul>
</div>

