<!-- FOOTER - RODAPE DA PAGIAN -->

<div class="row  Tipo-Rodape" >
    <div class="col-md-6 col-sm-12 my-1">
        <a asp-area="" asp-controller="Sitegeral" asp-action="Sobrenos" id="Rodape-Menu-link" >Quem Somos </a>
        <a asp-area="" asp-controller="Sitegeral" asp-action="Politica" id="Rodape-Menu-link" >Politicas</a>
        <a asp-area="" asp-controller="Sitegeral" asp-action="Desenvolvedor" id="Rodape-Menu-link" >Sobre</a>
    </div>
    <div class="col-md-6 col-sm-12"  align="right">
        <p id="Rodape-Direito-link" > Todos os Direito Reservado - spavan@terra.com.br<p>
    </div>
</div>