



<div class="row-servico Area-Site-Imgem" >

<!--
<div class="col-lg-3 offset-lg-9 col-md-5 offset-md-7  mt-5 " style="opacity: 1"  >
-->

    <div class="area-esquerda">

    </div>

    <div class="area-direita">

    <div class="Container-Serv" >
           

            <div class="servico-menu">
                <div class="serv-effect-1"></div>
                <div class="serv-effect-2"></div>

                <div class="bota-servico-total">
                     <div class="area-imagem-service">
                         <a  asp-area="" asp-controller="Sitegeral" asp-action="Banho">
                             <input type="button" class="botao-menu-banho"  >
                         </a>                  
                     </div>
                </div>
            </div>

            <div class="servico-menu">
                <div class="serv-effect-1"></div>
                <div class="serv-effect-2"></div>

                <div class="bota-servico-total">
                     <div class="area-imagem-service">

                        <a  asp-area="" asp-controller="Sitegeral" asp-action="Passear">
                           <input type="button" class="botao-menu-passear" >
                        </a>

                     </div>
                </div>
            </div>


            <div class="servico-menu">
                <div class="serv-effect-1"></div>
                <div class="serv-effect-2"></div>

                <div class="bota-servico-total">
                     <div class="area-imagem-service">

                        <a  asp-area="" asp-controller="Sitegeral" asp-action="Hotel">
                            <input type="button" class="botao-menu-hotel"  >
                        </a>

                     </div>
                </div>
            </div>


            <div class="servico-menu">
                <div class="serv-effect-1"></div>
                <div class="serv-effect-2"></div>

                <div class="bota-servico-total">
                     <div class="area-imagem-service">

                        <a  asp-area="" asp-controller="Sitegeral" asp-action="Veterinario">
                            <input type="button" class="botao-menu-veterinario"  >
                        </a>

                     </div>
                </div>
            </div>

    </div>
    
    </div>

</div>

<!--
</div>
-->