

    <div class="row Area-Site-Imgem" >

            <div class="col-md-3 offset-md-9 mt-5  " style="opacity: 1"  >
                
                <div class="btn-group col justify-content-center " >
                   <div class="">
                       <a  asp-area="" asp-controller="Sitegeral" asp-action="Banho">
                           <input type="button" class="botao-menu-banho" >
                       </a>                  
                   </div>
                </div>
                
                <div class="btn-group col justify-content-center" >
                   <div class="borda-menu">
                        <a  asp-area="" asp-controller="Sitegeral" asp-action="Passear">
                           <input type="button" class="botao-menu-passear" >
                        </a>
                   </div>
                </div>
                <div class="btn-group col justify-content-center" >
                    <div class="borda-menu">
                        <a  asp-area="" asp-controller="Sitegeral" asp-action="Hotel">
                            <input type="button" class="botao-menu-hotel"  >
                        </a>
                    </div>
                </div>
                <div class="btn-group  col justify-content-center" >
                   <div class="borda-menu">
                        <a  asp-area="" asp-controller="Sitegeral" asp-action="Veterinario">
                            <input type="button" class="botao-menu-veterinario"  >
                        </a>
                   </div>
                </div>
            </div>

      </div>
